{{ if and .IsPage (ne .Params.comment false) }}
    {{ template "_internal/disqus.html" . }}

    <!-- utteranc -->
    {{ if .Site.Params.utteranc.enable }}
    <div class="post bg-white">
      <script src="https://utteranc.es/client.js"
            repo= "{{ .Site.Params.utteranc.repo }}"
            issue-term="{{ .Site.Params.utteranc.issueTerm }}"
            theme="{{ .Site.Params.utteranc.theme }}"
            crossorigin="anonymous"
            async>
      </script>
    </div>
    {{ end }}
    <!--waline-->
    {{ if .Site.Params.waline.enable }}
    <div id="waline"></div>
    <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
    <script>
        Waline({
            el: '#waline',
            serverURL: '{{ .Site.Params.waline.serverURL }}',
            placeholder: '{{ .Site.Params.waline.placeholder }}',
        });
    </script>
    {{ end }}
    <!--remark42-->
    {{ if .Site.Params.remark42.enable }}
    <div id="remark42"></div>
    <script>
        var remark_config = {host: '{{ .Site.Params.remark42.RemarkURL }}',site_id: '{{ .Site.Params.remark42.SiteId }}',}
    </script>
    <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
    {{ end }}
{{- end }}
